html, body, section, article, h1, h2, p {
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
}

input[type="radio"], select, input[type="submit"]  {
  cursor: pointer;
  outline: none;
}
