body {
  font-family: "Ariel, sans-serif";
  background-color: #FEFFF1;
}

figure img {
  height: 200px;
  width: 400px;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

.ingredients-list {
  list-style: square inside;
}

ol {
  color: brown;
}

header > img {
  width: 100px;
}

ul li a {
  text-decoration: none;
  color: inherit;
}

input[type="submit"]:last-child {
  background-color: gold;
}

input[type="submit"]:hover {
  -webkit-filter: brightness(90%);
}

ol li:nth-of-type(2n) {
    background-color: whitesmoke;
}

h2 + .user_review {
  border-top: 1px solid black;
}

input[type="radio"] {
    /*-webkit-appearance: none;*/
    width: 27px;
    height: 27px;
    /*background-image: url("https://github.com/appacademy/curriculum/blob/master/html-css/assets/stars.png");*/
    vertical-align: bottom;
}

nav {
  float: right;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 20px;
  display: block;
}

body {
    margin: 0 auto; /* Common Centering Technique */
    width: 900px;
}

section {
  width: 700px;
  display: inline-block;
  vertical-align: top;
}

aside {
  width: 180px;
  display: inline-block;
  margin-right: 15px;
}

.ingredients-list li {
  margin: 15px 0px;
}

section ol li {
  margin: 15px 0px;
}

input[type="text"] {
  display: block;
  width: 175px;
}

select {
  margin: 10px 0;
  width: 180px;
}

textarea {
  width: 350px;
}

label {
  display: block;
}

header > img {
  float: left;
}

header:after {
  content: "";
  display: block;
  clear: both;
}
